name: macOs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.22

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      env:
        GODEBUG: x509sha1=1
        GOARCH: ${{ matrix.arch }}      
