# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: s390x-qemu

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]

permissions:
  contents: read

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        arch: [s390x]  
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
      with:
        egress-policy: audit

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Test internal
      run: go test -v ./internal/...
      env:
        GOARCH: ${{ matrix.arch }}

    - name: Test Cipher
      run: go test -v -short ./cipher/...
      env:
        GOARCH: ${{ matrix.arch }}

#    - name: Test
#      run: go test -v -short ./...
#      env:
#        GODEBUG: x509sha1=1      
#        GOARCH: ${{ matrix.arch }}   

 
    
