# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: ppc64le-qemu

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]

permissions:
  contents: read

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        arch: [ppc64le]
        ppc64: [power8]
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Test internal
      run: go test -v ./internal/...
      env:
        GOARCH: ${{ matrix.arch }}
        GOPPC64: ${{ matrix.ppc64 }}

    - name: Test Cipher
      run: go test -v -short ./cipher/...
      env:
        GOARCH: ${{ matrix.arch }}
        GOPPC64: ${{ matrix.ppc64 }}
