# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: arm64-qemu

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]

permissions:
  contents: read

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        arch: [arm64]  
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
    - name: Test
      run: go test -v -short ./...
      env:
        DISABLE_SM3NI: 1
        DISABLE_SM4NI: 1
        GODEBUG: x509sha1=1
        GOARCH: ${{ matrix.arch }}      

    - name: Test Force SM4 Single Block with AES-NI
      run: go test -v -short ./sm4/...      
      env:
        DISABLE_SM4NI: 1
        FORCE_SM4BLOCK_AESNI: 1
        GOARCH: ${{ matrix.arch }}      
